body {
  font-family: sans-serif;
  margin: 0;
  padding: 1rem;
  background: #fdfdfd;
  max-width: 800px;
  margin: auto;
}

.gallery {
  display: flex;
  flex-direction: column;
  gap: 2rem; /* space between images */
}

.gallery img {
  width: 100%;
  height: auto;
  display: block;
  border: 1px solid #ccc;
}
nav {
  text-align: center;
  margin-top: 20px;
}
