body {
  font-family: sans-serif;
  margin: 0;
  padding: 1rem;
  background: #fdfdfd;
  max-width: 800px;
  margin: auto;
}

.gallery {
  display: flex;
  flex-direction: column;
  gap: 2rem; /* space between images */
}

.gallery img {
  width: 100%;
  height: auto;
  display: block;
  border: 1px solid #ccc;
}
nav {
  text-align: center;
  margin-top: 20px;
}

img.fade-edges {
  mask-image: linear-gradient(to bottom, transparent, black 20%, black 80%, transparent);
  -webkit-mask-image: linear-gradient(to bottom, transparent, black 20%, black 80%, transparent);
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

nav a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}
